<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Index</key>
	<array>
		<dict>
			<key>Storyboard name</key>
			<string>Main_iPhone</string>
			<key>Storyboard ID</key>
			<string>PFWAboutVC</string>
			<key>Class name</key>
			<string></string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Storyboard name</key>
			<string>Main_iPhone</string>
			<key>Storyboard ID</key>
			<string>FAQTableVC</string>
			<key>Class name</key>
			<string></string>
			<key>Title</key>
			<string>FAQ</string>
		</dict>
		<dict>
			<key>Storyboard name</key>
			<string>Main_iPhone</string>
			<key>Storyboard ID</key>
			<string>TopicsTableVC</string>
			<key>Class name</key>
			<string></string>
			<key>Title</key>
			<string>Index of Biblical Topics</string>
		</dict>
	</array>
	<key>Copyright</key>
	<string>There Is No Copyright</string>
	<key>Directory</key>
	<string>songsforworship-resources</string>
	<key>Song collections</key>
	<array>
		<dict>
			<key>Tunes</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Four-Part Harmony</string>
					<key>Format</key>
					<string>{number}.1</string>
					<key>Type</key>
					<string>mid</string>
					<key>Directory</key>
					<string>tune_midis</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Alto</string>
					<key>Format</key>
					<string>psalm_{number}_a_part</string>
					<key>Type</key>
					<string>mid</string>
					<key>Directory</key>
					<string>parts_midis</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Soprano</string>
					<key>Format</key>
					<string>psalm_{number}_s_part</string>
					<key>Type</key>
					<string>mid</string>
					<key>Directory</key>
					<string>parts_midis</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Bass</string>
					<key>Format</key>
					<string>psalm_{number}_b_part</string>
					<key>Type</key>
					<string>mid</string>
					<key>Directory</key>
					<string>parts_midis</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Tenor</string>
					<key>Format</key>
					<string>psalm_{number}_t_part</string>
					<key>Type</key>
					<string>mid</string>
					<key>Directory</key>
					<string>parts_midis</string>
				</dict>
			</array>
			<key>Display name</key>
			<string>Songs</string>
			<key>PDF</key>
			<string>psalter</string>
			<key>Sections</key>
			<array>
				<dict>
					<key>Count</key>
					<integer>11</integer>
					<key>Title</key>
					<string>1</string>
				</dict>
			</array>
			<key>json_name</key>
			<string>songs</string>
		</dict>
	</array>
</dict>
</plist>
